body,
html,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    /* 设置屏幕的最小宽度 */
    min-width: 1366px;
}

.el-cascader-panel {
    height: 300px !important;
}

.ql-editor {
    min-height: 300px !important;
}